body {
	background-color: lightgray;
}

.result {
	position: relative;
	font-size: 350%;
	height: 100px;
	width: 428px;
	background-color: black;
	color: white;
}

.result > span {
	position: absolute;
    bottom: 0;
    right: 10px;
}

.wrapper {
	width:500px;
	margin: 0 auto;
	margin-top: 20px;
}

.row {
	display: inline-block;
}

.button {
	font-size: 200%;
	vertical-align: middle;
	border-style: solid;
	height: 100px;
	width: 100px;
	line-height: 100px;
    border-color: #808080;
    border-width: 2px;
    margin-left: 0px;
	display: inline-block;
	text-align: center;
}

#i0 {
	width: 208px;
	display: inline-block;
	text-align: center;
}

#divide, #multi, #minus, #plus, #equal {
	color: white;
	background-color: #FF8000;
	padding-right: 0px;
}